one/src/main/mule/one.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd7e88d7-42c6-4d77-b287-161cc4ecf64e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="oneFlow" doc:id="faa796cd-7f29-433f-965d-d9f48af5b1e6" >
		<http:listener doc:name="Listener" doc:id="81e3bd1e-c17d-4879-ad43-0efce93ee46d" config-ref="HTTP_Listener_config" path="/one"/>
		<set-payload value="'This is test pgm for git'" doc:name="Set Payload" doc:id="e28f2bf8-a756-4cde-a082-3edcf4cfa0b8" />
		<logger level="INFO" doc:name="Logger" doc:id="8b8f576d-6df5-4027-99f6-7a9a6a9b4474" message="#[payload]"/>
	</flow>
</mule>
